@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>

<html>
<head>
    <link href="@Url.Content("~/css/about.css")" rel="stylesheet" type="text/css" />
</head>
<body>
    <div id="wrapper">
        <div id="info">
            <p>Hello, we are Ineffable, heroic raiding guild, that will also casualy do mythic progression.<br /></p>
            <p>We have friendly environment and welcome both socials and raiders alike.<br /></p>
            <p>
                Here on this website we have info on our raiders and their attendance on raids and also what
                roles they have. Also evidence on when are raid events (wether they are progression
                or if they are events made just for fun).
                If you have any questions about our guild you can send e-mail on: mthorvat@vsite.hr<br />
                Hope to see you on our team soon.
            </p>
        </div>

        <div id="img">
        </div>
    </div>
</body>
</html>