@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<link href="@Url.Content("~/css/main.css")" rel="stylesheet" type="text/css" />

<address>
    One Microsoft Way<br />
    Redmond, WA 98052-6399<br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>

<address>
    <strong>Support:</strong> <a href="mailto:mthorvat@vsite.hr" class="txt_color">mthorvat@vsite.hr</a><br />
</address>
